*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --col-05:#bcbdbc;
  --col-06:#6f6f6f;
  --border: 2px solid var(--col-02);
}

.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

/* I decided to remove the #videoPlayOverlay function which would display on screen when the video was paused, as I thought that it would be visually distracting
if the viewer was wanting to look at various parts of the music video whilst it was in a paused state. With the media player controls being updated as well, I believe 
that they would be a helpful enough indicator for the audience to remember what section of the video they were in. */

/* Given the nature of the video's content, I thought it would be best suited for the video to take up the full size of the screen when being viewed. 
Though somewhat of a simple choice to make, the reasoning for this was to help give the audience an immersive experience when watching the visuals featured 
in the video. I believe that these visuals bring about a sense of enticement for the viewer towards the page, when viewed in a large scaled format. */

.video-controls-wrapper{
  display: flex;
  justify-content: center;
}

#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
}
.video-control-button:hover{
  background-color: var(--col-05);
}
.video-control-button:active{
  background-color: var(--col-06);
}
.button-icon{
  pointer-events: none;
}

#playButton{
  background-image: url('./icons/play.svg');
}

.video-progress-bar{
  -webkit-appearance:var(--col-03);
  -moz-appearance: none;
  appearance: var(--col-03);
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-moz-progress-bar {
  background-color: var(--col-02);
}

::-webkit-progress-bar {
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-webkit-progress-value {
  background-color: var(--col-02);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}